{
    "env": {
        "node": true,
        "es2021": true
    },
    "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "airbnb-base/legacy"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "no-var": "error",
        "no-unused-vars": "warn",
        "no-unused-expressions": "off",
        "comma-dangle": [
            "error",
            {
                "arrays": "never",
                "objects": "always",
                "imports": "always",
                "exports": "always",
                "functions": "never"
            }
        ]
    }
}
